<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31679741662-oc2vur2kuboqc09b8cp3oi61558vrbjj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31679741662-oc2vur2kuboqc09b8cp3oi61558vrbjj</string>
	<key>API_KEY</key>
	<string>AIzaSyA1JYfKcfZHjAkEb0F9F54CGMEfnK8yeUc</string>
	<key>GCM_SENDER_ID</key>
	<string>31679741662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bitBook</string>
	<key>PROJECT_ID</key>
	<string>bitbook-8ba1e</string>
	<key>STORAGE_BUCKET</key>
	<string>bitbook-8ba1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31679741662:ios:6cd754f3f68f9b1e318c4f</string>
</dict>
</plist>